name: Python Action
on: push
jobs:
  pythonAction:
    name: Testing on ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: Python Action
        id: pa
        uses: ./
        with:
          message: Hello World!
          sender: Peter
      - name: Check output
        run: |
          echo "${{ steps.pa.outputs.reply }}"
